@model ViewModel.Base.PageResult<ViewModel.Catalog.Users.UserViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section test{
    <script>
        var result = document.getElementById("messalert");
        if (result) {
            setTimeout(function () {
                result.style.display = "none";
            }, 1000);
        }

    </script>
}

<div class="card mb-4">

    <form asp-action="Index" method="get" class="d-flex">
        <div class="card-header w-100">
            <a class="btn btn-success" asp-action="Create" asp-controller="User">Tạo tài khoản</a>
            <input type="text" name="keyword" placeholder="Tìm theo tên user" class="form-control my-2" />

            <div class="d-flex">

                <div><button class="btn btn-info" type="submit">Tìm kiếm</button></div>
                <div>
                    @{
                        if (TempData["alert"] != null)
                        {
                            <div id="messalert" class="ms-2 btn btn-primary" role="alert">
                                @TempData["alert"]
                            </div>
                        }
                    }
                </div>

            </div>

        </div>
    </form>

    <br />

    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th style="display:none;">
                        ID
                    </th>
                    <th>
                        Tài khoản
                    </th>
                    <th>
                        Họ
                    </th>
                    <th>
                        Tên
                    </th>
                    <th>
                        Số điện thoại
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Ngày sinh
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td style="display:none;">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dob)
                        </td>
                        <td>
                            @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Phân quyền", "RoleAssign", new { id = item.Id }) |
                            <a class="btn btn-danger" onclick="return confirm('Bạn có muốn xóa User @item.UserName này không ?') " href="@Url.Action("Delete", new { id = item.Id})">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div>@await Component.InvokeAsync("Paging", Model)</div>

    </div>
</div>