@model ProductDetail
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr class="mt-5">
<!-- container -->
<div class="container-fluid px-3 mt-5">

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb border mt-3">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
            <li class="breadcrumb-item" aria-current="page">@Model.Product.CategoryName</li>
        </ol>
    </nav>

    <a class="nav-link h2 text-muted p-0" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-basket3-fill" viewBox="0 0 16 16">
            <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.468 15.426.943 9h14.114l-1.525 6.426a.75.75 0 0 1-.729.574H3.197a.75.75 0 0 1-.73-.574z" />
        </svg>
        Sản phẩm
    </a>
    <hr class="m-0" width="20%">

    <div class="h4">@Model.Product.Name</div>

    <hr width="50%">

    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-12 col-md-8">
                <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                    <div class="carousel-inner">

                        @{
                            int i = 0;
                            foreach (var item in Model.ProductSlides)
                            {
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <img src="@_config["BaseApi"]@item.ImageProductSlide" class="d-block w-100" alt="">
                                </div>

                                i++;
                            }
                        }

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 bg-light border rounded-3 py-3">
                <div class="h4 d-inline me-4">@Model.Product.Price</div>
                <div class="h6 d-inline border bg-light p-2 rounded-3">Trả góp 0%</div>

                @{
                    var check = Model.Product.Stock;
                    if (check == 0)
                    {
                        <div class="h5 text-danger my-5">Hết hàng</div>
                    }
                    <div class="h5 text-success my-5">Còn hàng</div>
                }

                <a href="cart.html" class="btn btn-danger w-100">MUA NGAY</a>

                <div class="btn-group my-3 w-100">
                    <a class="btn btn-info me-1">MUA TRẢ GÓP 0%</a>
                    <a class="btn btn-info">TRẢ GÓP QUA THẺ</a>
                </div>
            </div>

            <hr class="my-5">

            <div class="col-sm-12 col-md-7">
                <img class="img-thumbnail" src="@_config["BaseApi"]@Model.Product.ImgDetail" alt="">
            </div>



            <div class="col-sm-12 col-md-5">
                <div class="h5">Cấu hình @Model.Product.Name</div>

                @Html.Raw(Model.Product.Details)

            </div>
        </div>
    </div>
</div>

