@using ViewModel.Catalog.Products
@model List<ProductViewModel>
@{
    ViewData["Title"] = "Sản phẩm";
}

<!-- container -->
<div class="">

    @* Cách hơi chuối do không đổ trong layout nên partial _NavMini gọi tới component NavMini có logic riêng*@
    @await Html.PartialAsync("_NavMini")

    <div class="laptop">
        <div id="demo" class="card-header text-muted float-start w-75 rounded-3 border">
            <h2>::::::::::::</h2>
        </div>

        <select class="form-select form-select-lg mb-3 w-25" aria-label=".form-select-lg example">
            <option selected>Sắp xếp theo</option>
            <option value="1">Giá giảm</option>
            <option value="2">Giá tăng</option>
            <option value="3">Bán chạy</option>
        </select>

        <div class="clearfix"></div>

        <div class="row row-cols-sm-1 row-cols-md-4 row-cols-lg-5">
            @for (int i = 0; i < Model.Count; i++)
            {
                var index = Model[i];

                <div class="col">
                    <div class="card">
                        <img src="@_config["BaseApi"]@index.Thumnail" alt="@index.Name">
                        <div class="card-body">
                            <h6 class="card-title">@index.Name</h6>
                            <p class="price">@index.Price</p>
                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@index.Id" class="btn btn-warning w-100">Chi tiết</a>
                        </div>
                        <button data-id="@index.Id" class="btn-show btn-cart btn btn-sm btn-secondary">Thêm</button>
                    </div>
                </div>
            }

        </div>
    </div>

</div>